---
# Font installation and configuration

- name: Install Noto fonts
  apt:
    name:
      - fonts-noto
      - fonts-noto-cjk
      - fonts-noto-cjk-extra
      - fonts-noto-color-emoji
      - fonts-noto-mono
    state: present
  become: yes

- name: Install JetBrains Mono Nerd Font
  block:
    - name: Create fonts directory
      file:
        path: "{{ ansible_env.HOME }}/.local/share/fonts"
        state: directory
        mode: '0755'
      become: no

    - name: Download JetBrains Mono Nerd Font
      get_url:
        url: https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip
        dest: /tmp/JetBrainsMono.zip
      become: no

    - name: Extract JetBrains Mono Nerd Font
      unarchive:
        src: /tmp/JetBrainsMono.zip
        dest: "{{ ansible_env.HOME }}/.local/share/fonts/"
        remote_src: yes
      become: no

- name: Install Cica font
  block:
    - name: Download Cica font
      get_url:
        url: "{{ cica_font_url }}"
        dest: /tmp/cica.zip
      become: no

    - name: Create Cica font directory
      file:
        path: /tmp/cica-extracted
        state: directory
      become: no

    - name: Extract Cica font
      unarchive:
        src: /tmp/cica.zip
        dest: /tmp/cica-extracted/
        remote_src: yes
      become: no

    - name: Install Cica font system-wide
      copy:
        src: "{{ item }}"
        dest: /usr/local/share/fonts/truetype/
        mode: '0644'
        remote_src: yes
      become: yes
      with_fileglob:
        - /tmp/cica-extracted/*.ttf

- name: Update font cache
  command: fc-cache -fv
  become: yes
  changed_when: false

- name: Configure fontconfig
  block:
    - name: Create fontconfig directory
      file:
        path: "{{ ansible_env.HOME }}/.config/fontconfig"
        state: directory
        mode: '0755'
      become: no

    - name: Create fonts.conf
      copy:
        dest: "{{ ansible_env.HOME }}/.config/fontconfig/fonts.conf"
        content: |
          <?xml version="1.0"?>
          <!DOCTYPE fontconfig SYSTEM "fonts.dtd">
          <fontconfig>
            <!-- Default font families -->
            <alias>
              <family>serif</family>
              <prefer>
                <family>Noto Serif</family>
                <family>Noto Serif CJK JP</family>
              </prefer>
            </alias>
            <alias>
              <family>sans-serif</family>
              <prefer>
                <family>Noto Sans</family>
                <family>Noto Sans CJK JP</family>
              </prefer>
            </alias>
            <alias>
              <family>monospace</family>
              <prefer>
                <family>Cica</family>
                <family>Noto Sans Mono CJK JP</family>
                <family>JetBrainsMono Nerd Font</family>
              </prefer>
            </alias>
            <alias>
              <family>emoji</family>
              <prefer>
                <family>Noto Color Emoji</family>
              </prefer>
            </alias>
          </fontconfig>
        mode: '0644'
      become: no

- name: Update user font cache
  command: fc-cache -fv
  become: no
  changed_when: false
