---
# Hyprland desktop environment installation using cppiber PPA

- name: Download cppiber Hyprland PPA signing key
  shell: |
    curl -fsSL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xA54D23B62FF3FCC76EFF71E8FDBAAA1CF0CCF48E" | gpg --dearmor -o /usr/share/keyrings/cppiber-hyprland.gpg
  args:
    creates: /usr/share/keyrings/cppiber-hyprland.gpg
  become: yes

- name: Add cppiber Hyprland PPA repository
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/cppiber-hyprland.gpg] https://ppa.launchpadcontent.net/cppiber/hyprland/ubuntu {{ ansible_distribution_release }} main"
    state: present
    filename: cppiber-hyprland
  become: yes

- name: Update apt cache after adding PPA
  apt:
    update_cache: yes
  become: yes

- name: Remove conflicting Ubuntu hyprland packages
  apt:
    name:
      - hyprland-dev
      - libhyprutils0
      - libhyprlang2
      - libhyprcursor0
      - libudis86-0
    state: absent
    purge: yes
  become: yes
  ignore_errors: yes

- name: Install Hyprland and ecosystem from PPA
  apt:
    name:
      - hyprland
      - hyprpaper
      - hyprlock
      - hypridle
      - xdg-desktop-portal-hyprland
    state: present
  become: yes

- name: Install Wayland and graphics dependencies
  apt:
    name:
      # Wayland
      - wayland-protocols
      - libwayland-dev
      # Graphics
      - libdrm-dev
      - libgbm-dev
      - libegl1-mesa-dev
      - libgles2-mesa-dev
      - libgl1-mesa-dev
      # Input and display
      - libinput-dev
      - libxkbcommon-dev
      - libseat-dev
      - seatd
      # X11 support
      - xwayland
      - xauth
      - xserver-xorg
      - brightnessctl
    state: present
  become: yes

- name: Install Hyprland ecosystem packages
  apt:
    name:
      - foot  # Wayland terminal
      - wl-clipboard
      - dex  # XDG autostart
      - polkit-kde-agent-1  # PolicyKit authentication agent
      - xdg-desktop-portal
      - xdg-desktop-portal-gtk
    state: present
  become: yes

- name: Install Wayland tools and utilities
  apt:
    name:
      # Screenshot tools
      - grim
      - slurp
      # Notification
      - libnotify-bin
      # Background/wallpaper
      - swaybg
    state: present
  become: yes

- name: Build and install swappy from source
  block:
    - name: Install swappy build dependencies
      apt:
        name:
          - meson
          - ninja-build
          - libcairo2-dev
          - libpango1.0-dev
          - libgtk-3-dev
          - libglib2.0-dev
          - scdoc
          - wl-clipboard
          - fonts-font-awesome
        state: present
      become: yes

    - name: Clone swappy repository
      git:
        repo: https://github.com/jtheoof/swappy.git
        dest: /tmp/swappy-build
        depth: 1
      become: no

    - name: Build swappy
      shell: |
        cd /tmp/swappy-build
        meson setup build
        ninja -C build
      args:
        creates: /tmp/swappy-build/build/swappy
      become: no

    - name: Install swappy
      shell: |
        cd /tmp/swappy-build
        ninja -C build install
      args:
        creates: /usr/local/bin/swappy
      become: yes

    - name: Clean up swappy build directory
      file:
        path: /tmp/swappy-build
        state: absent
      become: no

- name: Remove sway-notification-center (conflicts with mako)
  apt:
    name: sway-notification-center
    state: absent
    purge: yes
  become: yes
  ignore_errors: yes

- name: Disable swaync systemd user service
  systemd:
    name: swaync.service
    enabled: no
    state: stopped
    scope: user
  become: no
  ignore_errors: yes

- name: Install mako notification daemon
  apt:
    name: mako-notifier
    state: present
  become: yes

- name: Reload systemd user daemon
  systemd:
    daemon_reload: yes
    scope: user
  become: no

- name: Enable mako systemd user service
  systemd:
    name: mako.service
    enabled: yes
    scope: user
  become: no

- name: Install additional Hyprland tools
  block:
    - name: Install waybar dependencies
      apt:
        name:
          - libgtkmm-3.0-dev
          - libdbusmenu-gtk3-dev
          - libgirepository1.0-dev
          - libpulse-dev
          - libnl-3-dev
          - libnl-genl-3-dev
          - libspdlog-dev
          - libgtk-layer-shell-dev
          - libplayerctl-dev
          - libmpdclient-dev
        state: present
      become: yes
      ignore_errors: yes

    - name: Install waybar
      apt:
        name: waybar
        state: present
      become: yes
      ignore_errors: yes

    - name: Install rofi-wayland build dependencies
      apt:
        name:
          - bison
          - flex
          - libxcb-util-dev
          - libxcb-ewmh-dev
          - libxcb-icccm4-dev
          - libxcb-xrm-dev
          - libxcb-xkb-dev
          - libxkbcommon-dev
          - libxkbcommon-x11-dev
          - libstartup-notification0-dev
          - libpango1.0-dev
          - libcairo2-dev
          - libglib2.0-dev
          - libgdk-pixbuf-2.0-dev
          - librsvg2-dev
          - libwayland-dev
          - wayland-protocols
          - check
          - libxcb-cursor-dev
        state: present
      become: yes
      ignore_errors: yes

    - name: Clone rofi repository
      git:
        repo: "https://github.com/davatorium/rofi.git"
        dest: "{{ ansible_env.HOME }}/.local/src/rofi"
        version: "2.0.0"
        depth: 1
        force: yes
      become: no

    - name: Build rofi
      shell: |
        cd {{ ansible_env.HOME }}/.local/src/rofi
        meson setup build --prefix=/usr/local
        ninja -C build
      args:
        creates: "{{ ansible_env.HOME }}/.local/src/rofi/build/rofi"
      become: no

    - name: Install rofi
      shell: |
        ninja -C {{ ansible_env.HOME }}/.local/src/rofi/build install
      args:
        creates: /usr/local/bin/rofi
      become: yes
      ignore_errors: yes

    - name: Install clipse clipboard manager from source
      block:
        - name: Clone clipse repository
          git:
            repo: https://github.com/savedra1/clipse.git
            dest: /tmp/clipse-build
            depth: 1
          become: no

        - name: Build clipse
          shell: |
            cd /tmp/clipse-build
            go build -o clipse
          args:
            creates: /tmp/clipse-build/clipse
          environment:
            GOPATH: "{{ ansible_env.HOME }}/go"
            PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/go/bin"
          become: no

        - name: Install clipse binary
          copy:
            src: /tmp/clipse-build/clipse
            dest: /usr/local/bin/clipse
            mode: '0755'
            remote_src: yes
          become: yes

        - name: Clean up clipse build directory
          file:
            path: /tmp/clipse-build
            state: absent
          become: no
      ignore_errors: yes

    - name: Install wlogout
      apt:
        name: wlogout
        state: present
      become: yes
      ignore_errors: yes

- name: Install display manager (ly) from source
  vars:
    ly_version: "v1.2.0"
  block:
    - name: Install ly build dependencies
      apt:
        name:
          - libpam0g-dev
          - libxcb-xkb-dev
          - xauth
          - xserver-xorg
        state: present
      become: yes

    - name: Remove old ly build directory
      file:
        path: /tmp/ly-build
        state: absent
      become: yes

    - name: Clone ly repository
      git:
        repo: https://github.com/fairyglade/ly.git
        dest: /tmp/ly-build
        version: "{{ ly_version }}"
        depth: 1
      become: no

    - name: Build and install ly with systemd support
      shell: |
        cd /tmp/ly-build
        zig build
        zig build installexe -Dinit_system=systemd --prefix / -Ddest_directory=/
      args:
        creates: /usr/lib/systemd/system/ly.service
      become: yes

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes
      become: yes

    - name: Disable existing display manager (gdm3)
      systemd:
        name: gdm3.service
        enabled: no
      become: yes
      ignore_errors: yes

    - name: Remove display-manager.service symlink if exists
      file:
        path: /etc/systemd/system/display-manager.service
        state: absent
      become: yes

    - name: Disable getty on tty2 (required for ly)
      systemd:
        name: getty@tty2.service
        enabled: no
      become: yes

    - name: Enable ly service
      systemd:
        name: ly.service
        enabled: yes
      become: yes

- name: Build and install nwg-displays from source
  block:
    - name: Install nwg-displays dependencies
      apt:
        name:
          - python3
          - python3-pip
          - python3-setuptools
          - python3-wheel
          - python3-build
          - python3-installer
          - python3-gi
          - python3-i3ipc
          - libgtk-layer-shell-dev
          - libgtk-layer-shell0
          - gir1.2-gtklayershell-0.1
        state: present
      become: yes

    - name: Clone nwg-displays repository
      git:
        repo: https://github.com/nwg-piotr/nwg-displays.git
        dest: /tmp/nwg-displays-build
        depth: 1
      become: no

    - name: Build nwg-displays wheel
      shell: |
        cd /tmp/nwg-displays-build
        /usr/bin/python3 -m build --wheel --no-isolation
      args:
        creates: /tmp/nwg-displays-build/dist
      become: no

    - name: Install nwg-displays
      shell: |
        cd /tmp/nwg-displays-build
        /usr/bin/python3 -m installer dist/*.whl
      args:
        creates: /usr/local/bin/nwg-displays
      become: yes

    - name: Install nwg-displays desktop file and icon
      shell: |
        cd /tmp/nwg-displays-build
        install -Dm 644 -t "/usr/share/applications" nwg-displays.desktop
        install -Dm 644 -t "/usr/share/pixmaps" nwg-displays.svg
      args:
        creates: /usr/share/applications/nwg-displays.desktop
      become: yes

    - name: Clean up nwg-displays build directory
      file:
        path: /tmp/nwg-displays-build
        state: absent
      become: no

- name: Build and install xcur2png from source
  block:
    - name: Install xcur2png build dependencies
      apt:
        name:
          - libpng-dev
          - libxcursor-dev
          - autoconf
          - automake
        state: present
      become: yes

    - name: Clone xcur2png repository
      git:
        repo: https://github.com/eworm-de/xcur2png.git
        dest: /tmp/xcur2png-build
        depth: 1
      become: no

    - name: Build and install xcur2png
      shell: |
        cd /tmp/xcur2png-build
        autoreconf -i
        ./configure
        make
        make install
      args:
        creates: /usr/local/bin/xcur2png
      become: yes

    - name: Clean up xcur2png build directory
      file:
        path: /tmp/xcur2png-build
        state: absent
      become: yes

- name: Build and install nwg-look from source
  block:
    - name: Install nwg-look build dependencies
      apt:
        name:
          - golang-go
          - libgtk-3-dev
          - pkg-config
        state: present
      become: yes

    - name: Clone nwg-look repository
      git:
        repo: https://github.com/nwg-piotr/nwg-look.git
        dest: /tmp/nwg-look-build
        depth: 1
      become: no

    - name: Build nwg-look
      shell: |
        cd /tmp/nwg-look-build
        make build
      args:
        creates: /tmp/nwg-look-build/bin/nwg-look
      environment:
        GOPATH: "{{ ansible_env.HOME }}/go"
        PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/go/bin"
      become: no

    - name: Install nwg-look
      shell: |
        cd /tmp/nwg-look-build
        make install
      args:
        creates: /usr/local/bin/nwg-look
      become: yes

    - name: Clean up nwg-look build directory
      file:
        path: /tmp/nwg-look-build
        state: absent
      become: no

- name: Install GUI theming
  apt:
    name:
      - gnome-themes-extra
      - yaru-theme-icon
      - yaru-theme-gtk
      - papirus-icon-theme
    state: present
  become: yes

- name: Ensure systemd user directory exists
  file:
    path: "{{ ansible_env.HOME }}/.config/systemd/user"
    state: directory
    mode: '0755'
  become: no

- name: Create systemd user target for Hyprland session
  template:
    src: hyprland-session.target.j2
    dest: "{{ ansible_env.HOME }}/.config/systemd/user/hyprland-session.target"
    mode: '0644'
  become: no

- name: Enable systemd user targets
  systemd:
    name: "{{ item }}"
    enabled: yes
    scope: user
  loop:
    - hyprland-session.target
  become: no
  ignore_errors: yes

- name: Create XDG portal configuration directory
  file:
    path: "{{ ansible_env.HOME }}/.config/xdg-desktop-portal"
    state: directory
    mode: '0755'
  become: no

- name: Configure XDG Desktop Portal for Hyprland
  copy:
    dest: "{{ ansible_env.HOME }}/.config/xdg-desktop-portal/hyprland-portals.conf"
    content: |
      [preferred]
      default=hyprland;gtk
      org.freedesktop.impl.portal.Screenshot=hyprland
      org.freedesktop.impl.portal.ScreenCast=hyprland
      org.freedesktop.impl.portal.Inhibit=hyprland
      org.freedesktop.impl.portal.FileChooser=gtk
    mode: '0644'
  become: no

# InputActions - Mouse and touchpad gestures for Hyprland
# SKIPPED: InputActions requires Qt6 6.6.0+ but Ubuntu 24.04 only has Qt6 6.4.2
# To enable when Qt6 6.6.0+ becomes available, uncomment and update:
# - name: Build and install InputActions Hyprland plugin
#   block:
#     - name: Install InputActions build dependencies
#       apt:
#         name:
#           - cmake
#           - extra-cmake-modules
#           - pkg-config
#           - libevdev-dev
#           - libyaml-cpp-dev
#           - qt6-base-dev
#           - libaquamarine-dev
#         state: present
#       become: yes
#     - name: Clone InputActions repository
#       git:
#         repo: https://github.com/taj-ny/InputActions.git
#         dest: /tmp/inputactions-build
#         depth: 1
#       become: no
#     - name: Build InputActions Hyprland plugin
#       shell: |
#         cd /tmp/inputactions-build
#         rm -rf build && mkdir build && cd build
#         cmake .. -DCMAKE_BUILD_TYPE=Release -DINPUTACTIONS_BUILD_HYPRLAND=ON
#         make -j$(nproc)
#       args:
#         creates: /tmp/inputactions-build/build/src/hyprland/libinputactions-hyprland.so
#       become: no
#     - name: Install InputActions Hyprland plugin
#       shell: |
#         cd /tmp/inputactions-build/build
#         make install
#       args:
#         creates: /usr/lib/hyprland/plugins/libinputactions-hyprland.so
#       become: yes
#       ignore_errors: yes
